@if (isMobile()) {
  <float-sub-menu-mobile />
} @else {
  <float-sub-menu-web
    [menus]="menus"
    [top]="top"
    [left]="left"
    [right]="right"
    [bottom]="bottom"
    [lineTop]="lineTop"
    [lineBottom]="lineBottom"
    [arrowTop]="arrowTop"
    [arrowBottom]="arrowBottom"
    (remainAppSidebarFloatSubMenu)="remainAppSidebarFloatSubMenu.emit($event)"
    (hideAppSidebarFloatSubMenu)="hideAppSidebarFloatSubMenu.emit($event)"
    (calculateFloatSubMenuPosition)="calculateFloatSubMenuPosition.emit()">
  </float-sub-menu-web>
}
