<!-- =====================================================
     PANEL COMPONENT - Coordinador Responsivo

     Delega el renderizado a:
       - panel-mobile (Ionic)
       - panel-web    (Color Admin)
     ===================================================== -->

@if (isMobile()) {
  <panel-mobile
    [title]="title"
    [variant]="variant"
    [noBody]="noBody"
    [noButton]="noButton"
    [headerClass]="headerClass"
    [bodyClass]="bodyClass"
    [footerClass]="footerClass"
    [panelClass]="panelClass"
    [showReloadButton]="showReloadButton"
    [reload]="reload"
    (onReload)="onReload.emit()">
    <ng-content select="[header]"></ng-content>
    <ng-content select="[beforeBody]"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[noBody]"></ng-content>
    <ng-content select="[outsideBody]"></ng-content>
    <ng-content select="[footer]"></ng-content>
    <ng-content select="[afterFooter]"></ng-content>
  </panel-mobile>
}

@if (isDesktop()) {
  <panel-web
    [title]="title"
    [variant]="variant"
    [noBody]="noBody"
    [noButton]="noButton"
    [headerClass]="headerClass"
    [bodyClass]="bodyClass"
    [footerClass]="footerClass"
    [panelClass]="panelClass"
    [showReloadButton]="showReloadButton"
    [reload]="reload"
    (onReload)="onReload.emit()">
    <ng-content select="[header]"></ng-content>
    <ng-content select="[beforeBody]"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[noBody]"></ng-content>
    <ng-content select="[outsideBody]"></ng-content>
    <ng-content select="[footer]"></ng-content>
    <ng-content select="[afterFooter]"></ng-content>
  </panel-web>
}