<!-- =====================================================
     HEADER COMPONENT - RESPONSIVE DUAL TEMPLATE

     Mobile: app-header-mobile (Ionic)
     Desktop: app-header-web  (Color Admin)
     ===================================================== -->

@if (isMobile()) {
  <app-header-mobile
    [pageTitle]="pageTitle"
    [color]="color"
    [translucent]="translucent"
    [showBackButton]="showBackButton"
    [backButtonHref]="backButtonHref"
    [showNotifications]="showNotifications"
    (backClick)="backClick.emit()">
    <ng-content select="[headerButtons]"></ng-content>
    <ng-content select="[headerContent]"></ng-content>
  </app-header-mobile>
}

@if (isDesktop()) {
  <app-header-web
    [appSidebarTwo]="appSidebarTwo"
    (appSidebarEndToggled)="appSidebarEndToggled.emit($event)"
    (appSidebarMobileToggled)="appSidebarMobileToggled.emit($event)"
    (appSidebarEndMobileToggled)="appSidebarEndMobileToggled.emit($event)">
  </app-header-web>
}
