@if (isMobile()) {
<sidebar-mobile />
} @else {
<sidebar-web
    [appSidebarTransparent]="appSidebarTransparent"
    [appSidebarGrid]="appSidebarGrid"
    [appSidebarFixed]="appSidebarFixed"
    [appSidebarMinified]="appSidebarMinified"
    (appSidebarMinifiedToggled)="appSidebarMinifiedToggled.emit($event)"
    (hideMobileSidebar)="hideMobileSidebar.emit($event)"
    (setPageFloatSubMenu)="setPageFloatSubMenu.emit($event)"
    (appSidebarMobileToggled)="appSidebarMobileToggled.emit($event)"
/>
}
